// variables
$main-color: #eae7dc;
<<<<<<< HEAD
$main-text: #e85a4f;
$secondary: #e98074;
$pal-gray: #8e8d8a;
$tan: #d8c3a5;
$light: #f4f4f4;
$dark: #333;
$medium: #777;
=======
$secondary: #e85a4f;
$lightpink: #e98074;
$tan: #d8c3a5;
$light: #f4f4f4;
$dark: #333;
$medium: #8e8d8a;
>>>>>>> e30bc32f1fd16816d40be544701eea7e6fd07208
