// variables
$main-color: #eae7dc;
$main-text: #e85a4f;
$secondary: #e98074;
$pal-gray: #8e8d8a;
$tan: #d8c3a5;
$light: #f4f4f4;
$dark: #333;
<<<<<<< HEAD
$medium: #777;
=======
$medium: #8e8d8a;
>>>>>>> b89d4fe4801fd883209e86df713fe3ffb745915f
$width: 1280px;
