@import "config";
@import "utilities";

// general styles
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Ubuntu", sans-serif;
  line-height: 1.6;
  background: $main-color;
}

a {
  text-decoration: none;
  color: #000;
}

ul {
  list-style: none;
}

img {
  width: 100%;
  display: block;
}

// navbar
#navbar {
  background: $lightblue;
  height: 60px;
  position: sticky;
  top: 0;
  z-index: 11;

  .navbar {
    display: flex;
    justify-content: space-between;
    color: $dark;
    height: 60px;
    width: 100%;
    padding: 0 1rem;
    align-items: center;

    a {
      color: $dark;
      font-weight: 500;
      margin-left: 25px;
      padding: 7px 7px;

      &:hover {
        border-bottom: 2px solid $secondary;
        color: $medium;
      }
    }

    ul {
      display: flex;
      height: 100%;
      align-items: center;

      li {
        height: 100%;
        width: 100%;
      }
    }
  }
}

// header
header {
  .showcase {
    background: url("/dist/img/bg.jpg") no-repeat center center/cover;
    height: calc(100vh - 60px);
    position: relative;
    z-index: 10;
    color: $light;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    text-align: center;

    h1 {
      font-size: 4rem;
      border-bottom: 2px solid $secondary;
    }

    p {
      font-size: 1.2rem;
      font-weight: 300;
      margin: 1rem 2rem;
    }

    .icons {
      a {
        padding: 0 1rem;
        color: #fff;

        i.fa-youtube:hover {
          color: #c4302b;
        }

        i.fa-instagram:hover {
          color: $lightpink;
        }

        i.fa-facebook:hover {
          color: #3b5998;
        }
      }
    }

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.8);
      z-index: -2;
    }
  }
}

section {
  // about section
  &#about {
    .section-items {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      background: $main-color;
      justify-content: center;
      text-align: center;
      align-items: center;

      p {
        padding: 0 1.2rem;
        font-weight: 300;
      }
    }
  }

  //   gallery
  &#gallery {
    background: $lighterpink;

    h3 {
      text-align: center;
    }

    p {
      text-align: center;
      padding-bottom: 1rem;
      font-weight: 300;
    }

    .gallery-items {
      padding: 1.7rem 0;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      background: $lighterpink;
      justify-content: center;
      text-align: center;
      align-items: center;
      gap: 1rem;

      & > div {
        height: 400px;
      }

      img {
        height: 100%;
        object-fit: cover;

        &:hover {
          opacity: 0.8;
        }
      }
    }
  }

  //   pricing section
  &#pricing {
    .heading {
      padding: 1rem 0;
    }

    .price-item {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      background: $main-color;
      justify-content: center;
      text-align: center;
      align-items: center;

      .price-grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        background: $main-color;
        justify-content: center;
        text-align: center;
        align-items: center;
        padding-bottom: 2rem;

        li {
          font-size: 2rem;
        }
      }

      .quantities {
        padding: 0 2.85rem;
        text-align: right;
        color: $secondary;
      }

      .price-grid-style {
        padding: 0 2.85rem;
        text-align: left;
        color: $secondary;
      }

      img {
        height: 400px;
        object-fit: cover;
      }

      p {
        color: $dark;
        padding: 1rem 2rem;
        font-weight: 300;
      }
    }
  }

  //   social
  &#social {
    .social-grid {
      display: grid;
      align-items: center;
      text-align: center;
      justify-content: center;
      padding: 4rem 1rem;
      grid-template-columns: repeat(3, 1fr);

      & > *:first-child {
        grid-column: 1 / span 2;
      }

      .grid-item {
        padding: 0 2rem;

        h3 {
          padding-top: 0;
          padding-bottom: 2rem;
        }

        i {
          padding: 2rem 0;
          color: $lightpink;
          border-radius: 50%;
          border: 2px solid $lightpink;
          padding: 35px 40px;
          transition: all 0.5s ease;

          &:hover {
            color: $secondary;
            border-color: $secondary;
          }
        }
      }
    }
  }
}

// footer
footer {
  //   height: 250px;
  width: 100%;
  background: $dark;
  color: $light;

  .footer-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    text-align: center;
    justify-content: center;
    gap: 1rem;
    height: 100%;

    .footer-item {
      height: 100%;
      padding: 0 2rem;

      h4 {
        font-size: 1.3rem;
        color: $lightpink;
        font-weight: 500;
        padding: 0.5rem 0;
      }

      a {
        color: $light;
      }
    }

    & > *:last-child {
      grid-column: 1 / span 3;
      background: #444;
      padding: 0.5rem;
      font-size: 0.75rem;
    }
  }
}
